.sprite-main {
  &:hover .percent-bar__container {
    opacity: .8;
  }
}


.sprite-image-container {
  width: 50px;
  height: 76px;
  overflow: hidden;
  .sprite-image {
    --position: 0px 0px;
    height: 760px;
    width: 500px;
    background-size: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: var(--position);
    animation: sprite-animation 1s steps(var(--frame)) infinite;
    transform: scale(0.1);
    transform-origin: 0 0;
  }
}

@keyframes sprite-animation {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: calc(var(--frame) * -500px) 0px;
  }
}