.canvas-container {
  display: flex;
  justify-content: center;
  width: 320px;
  height: 200px;
  // background-color: #f0f0f0;
  align-items: end;
  .draw-board {
    // border: 1px solid #ccc;
    // overflow: hidden;
  }
}