.canvas-container {
  display: flex;
  justify-content: center;
  .draw-board {
    // width: 640px;
    // height: 400px;
    // background-color: #f0f0f011;
    // border: 1px solid #ccc;
    // overflow: hidden;
  }
}